@import "../../assets/css/index";

.result {
	background-color: #000;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;

	&-title {
		color: #000;
		font-size: 2em;
	}

	.img-preview {
		height: 100px;
	}

	a {
		color: #000;

		:hover {
			cursor: pointer;
			text-decoration: underline !important;
		}
	}

	.text-bg {
		background-color: rgba(255, 255, 255, 0.5);
	}
}