@import "../../assets/css/index";

.result {
	overflow-x: hidden;
	background-color: #eee;

	&-content {
		border-bottom: 1px solid #bbb;
	}

	&-title {
		font-size: 2em;
	}

	.img-preview {
		height: 100px;
	}

	a {
		text-decoration: none;
		color: inherit;
	}
}