@import "../../assets/css/index";

.SearchForm {

	background-color: #fff;
	font-family: $primary-font;
	height: $navbar-height;
	padding: 0 10px 0 10px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	transition: top 200ms;

	ul {
		display: inline-block;
	    list-style: none;
	    margin: 0;
	    padding: 0;
	}
	li {
	    display: inline-block;
	    margin-right: 15px;
	}
	input.hidden {
	    visibility:hidden;
	}
	label {
	    cursor: pointer;
	    height: 22px;
	}

	&-hidden {
		top: -$navbar-height;
	}
}