// Fonts
$display-font: 'Abril Fatface', cursive;
$body-font: 'Roboto', sans-serif;

// Dimensions
$navbar-height: 5em;

// Colors
$color-primary: #d00;
$color-primary--light: mix($color-primary, #fff, 80%);

$color-bodytext: #333;

