@import "../assets/css/index.scss";

.app {
	font-family: $body-font;
	padding-top: $navbar-height * 1.5;
}

@media (min-width: 600px) {
  .app {
    	padding-top: $navbar-height;
  }
}

input:focus {
  border-bottom: 1px solid $color-primary !important;
  box-shadow: 0 1px 0 0 $color-primary !important;
}

label::after {
  background-color: $color-primary !important;
}

[type="radio"]:checked + label:after, 
[type="radio"].with-gap:checked + label:before, 
[type="radio"].with-gap:checked + label:after {
  border: 2px solid $color-primary !important;
}